body{
    font-family: 'Roboto';
}

.btn-primary{
    background-color: coral;
    border-color: lightcoral;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active{
    background-color: lightcoral !important;
    border-color: coral !important;
}

.bg-dark{
    background-color: #525252;
}

.lead{
    color: #525252;
}